@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Academia Energy</h1>
    <p>Seja bem vindo a melhor academia da região</p>
    <partial name="_Carrossel" />
</div>

<div class="container text-center">
    <p class="fw-bold fs-2 text-center">Planos</p>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Plano Mensal</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Plano Pro</h6>
                    <p class="card-text">Ideal para quem quer começar sem compromisso a longo prazo.</p>
                    <a href="#" class="card-link">Saiba os benefios</a>
                    <a href="#" class="card-link">Assinar</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Plano Tri-Mestral</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Plano Silver</h6>
                    <p class="card-text">Mais resultados, mais economia: invista em 3 meses de mudança!</p>
                    <a href="#" class="card-link">Saiba os benefios</a>
                    <a href="#" class="card-link">Assinar</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Plano Anual</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Plano Anual</h6>
                    <p class="card-text">Sua melhor versão em 12 meses.</p>
                    <a href="#" class="card-link">Saiba os benefios</a>
                    <a href="#" class="card-link">Assinar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <ul>
        <p class="fw-bold fs-2">Horário de funcionamento</p>
        <li>Segunda a sexta: das 4h as 23h</li>
        <li>Sábado: das 6h as 18h</li>
        <li>Domingo e feriados: das 6h as 14h</li>
    </ul>
</div>

